:root{
    /* Color palette */
    --hero-bg-color: #a09abc;
    --main-bg-color: #d5cfe1;
    --buttonAndMainPosts-bg-color: #E1DEE9;

}

html{
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
    text-align: center;
}

h1{
    color: white;
    font-size: 2rem;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

input{
    padding: 5px 15px;
    width: 20px;
    background: none;
    color: white;
    font-weight: bold;
    font-size: 5em;
    border: solid white 1px;
    border-radius: 8px;
    height: 84px;
    width: 152px;
    text-align: center;

}

button{
    display: block;
    height: 72px;
    width: 241px;
    margin: 30px auto 10px auto;
    padding: 5px 20px;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--buttonAndMainPosts-bg-color);
    border: none;
}

.mainmain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 40px;
    /* border: 2px solid black; */

}

.post{
    background-color: var(--buttonAndMainPosts-bg-color);
    padding: 10px;
    margin: 10px 20px;
    margin-bottom: 50px;
    /* border: 2px solid black; */
    width: 80%;

}

.post h2{
    font-size: 2rem;
    font-weight: 500;
}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--hero-bg-color);
    width: 100%;
}

.main {
    background-color: var(--main-bg-color);
    height: 100%;
    width: 100%;
    

}